################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sample-api-app-key/.vs/sample-api-app-key/v15/Server/sqlite3
